extends layout
block body
    if posts.length > 0
        each post in posts
            p 
                <div id='titlebox' onclick="abrirPost(#{user},#{post.id})">
                    <div id='date'>
                        small=post.createdAt
                    </div>
                    <div id='title'>
                        spam= post.title
                    </div>
                </div>
    else 
        h2 No posts found
    hr

    <a href="/post/add"><button>Create Post</button></a>
    head
        style
            include ../layouts/posts.css
block scripts
    script.
        function abrirPost(user, id){window.location.href = `/post/${user}/${id}`}

