extends layout
block body
    if posts.length > 0
        each post in posts
            p 
                <div id='titlebox' name="post#{post.id}" onclick="abrirPost(#{user},#{post.id})">
                    <div id='date'>
                        small=post.createdAt
                    </div>
                    <div id='title'>
                        span= post.title
                    </div>
                    input(type="hidden" id="color"+post.id value=post.color)
                    input(type="hidden" id="id" name="id" value=post.id)
                </div>
    else 
        h2 No posts found
    hr

    <a href="/post/add"><button>Create Post</button></a>
    head
        style
            include ../layouts/posts.css
block scripts
    script.
        var allPosts = window.document.getElementsByName('id')
        for (postID of allPosts){
            changeColor(postID.value)
        }
        function abrirPost(user, id){window.location.href = `/post/${user}/${id}`}
        function changeColor(idpost){
                            var titlebox = window.document.getElementsByName(`post${idpost}`)[0]
                            console.log(titlebox)
                            var color = window.document.getElementById(`color${idpost}`)
                            titlebox.style.background= color.value
                        }

